<!-- Products section -->
            <section id="aa-product">
                <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    <div class="row">
                        <div class="aa-product-area">
                        <div class="aa-product-inner">
                            <!-- start prduct navigation -->
                            <ul class="nav nav-tabs aa-products-tab">
                                <li class="active"><a href="#chocolates" data-toggle="tab">Chocolates</a></li>
                                <li><a href="#oil" data-toggle="tab">Oil</a></li>
                                <li><a href="#rice" data-toggle="tab">Rice</a></li>
                                <li><a href="#snackes" data-toggle="tab">Snackes</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- Start chocolates product category -->
                                <div class="tab-pane fade in active" id="chocolates">
                                    <ul class="aa-product-catg" id="chocolatesList">
                                                
                                    </ul>
                                </div>
                                <!-- / chocolates product category -->
                                <!-- start oil product category -->
                                <div class="tab-pane fade" id="oil">
                                    <ul class="aa-product-catg" id="oilList">
                                                
                                    </ul>
                                    {# <a class="aa-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a> #}
                                </div>
                                <!-- / oil product category -->
                                <!-- start rice product category -->
                                <div class="tab-pane fade" id="rice">
                                    <ul class="aa-product-catg" id="riceList">
                                                
                                    </ul>
                                    {# <a class="aa-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a> #}
                                </div>
                                <!-- / rice product category -->
                                <!-- start wafers product category -->
                                <div class="tab-pane fade" id="snackes">
                                    <ul class="aa-product-catg" id="snackesList">
                                                
                                    </ul>
                                    {# <a class="aa-browse-btn" href="#">Browse all Product <span class="fa fa-long-arrow-right"></span></a> #}
                                </div>
                                <!-- / wafers product category -->
                            </div>
                            
                            <!-- quick view modal -->                  
                            <div class="modal fade" id="quick-view-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">                      
                                    <div class="modal-body">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <div class="row">
                                        <!-- Modal view slider -->
                                        <div class="col-md-6 col-sm-6 col-xs-12">                              
                                        <div class="aa-product-view-slider">                                
                                            <div class="simpleLens-gallery-container" id="demo-1">
                                            <div class="simpleLens-container">
                                                <div class="simpleLens-big-image-container">
                                                    <a class="simpleLens-lens-image" data-lens-image="">
                                                        <img height="300" class="simpleLens-big-image">
                                                    </a>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        </div>
                                        <!-- Modal view content -->
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="aa-product-view-content" id="modal1">
                                            <h3></h3>
                                            <div class="aa-price-block">
                                                <span class="aa-product-view-price"></span>
                                                <p class="aa-product-avilability"><span></span></p>
                                            </div>
                                            <p></p>
                                            <h4></h4>
                                            <p class="aa-prod-category">
                                                <a href="#"></a>
                                            </p>
                                        </div>
                                        <div class="aa-prod-view-bottom" id="modalButtons">
                                            <a href="#" class="aa-add-to-cart-btn"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
                                            <a href="#" class="aa-add-to-cart-btn">View Details</a>
                                        </div>
                                        </div>
                                        </div>
                                    </div>
                                    </div>                        
                                </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- / quick view modal -->              
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </section>
            <!-- / Products section -->